@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=vietnamese');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
:root{
  --color-primary: #007536;
  --color-secondary:#EB6796;
  --color-heading:#3d535f;
  --header-height: 3rem;
  --color-bg-gray: #ccc;

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  /* overflow: hidden; */
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  padding: 30px;
}
/* add blur header */
.blur-header{
  background-color: transparent;
  color: white;
}
.blur-header::after{
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,10%,.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
}
.nav__toggle,
.nav__close{
  display: flex;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.nav__close{
  position: absolute;
  top: 2rem;
  left: 2rem;
  transition: 0.2s linear;
  border-radius: 100%;

}
.nav__close:hover{
  transform: rotate(180deg);
  color: white;
}
/* Show menu */
.header-middle.show-menu{
  right: 0;
}

.header-left-logo{
  font-size: 30px;
  font-weight: 800;
  color: var(--color-heading);
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 0;
}
.header-left-logo span{
  position: relative;
  content: "";
}
.header-left-logo span::after{
  background-color: var(--color-secondary);
  /* font-size: 70px; */
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom: 0;
  right: -5px;
  transition: 0.2s linear;
}
.header-left-logo span:hover::after{
  scale: 2;
  background: var(--color-primary);
  background: radial-gradient(180deg,var(--color-primary) 0%, rgba(252,70,107,1) 100%);
}
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-nav--item{
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  transition: 0.2s linear;
}
.header-nav--item:hover{
  color: var(--color-secondary);
}
.active-link{
  color: var(--color-secondary);
}
.social{
  padding-top: 80px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 49% 100%, 0 80%, 0 20%);
  background-color: var(--color-secondary);
  color: #FFFFFF;
  font-size: 20px;
  transition: 0.2s linear;
  text-decoration: none;
}
.social a:hover{
  scale: 1.1;
  rotate: 15deg;
  color: var(--color-heading);
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  padding: 40px 0;
}
.hero::before{
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  left: -20%;
  top: 40%;
  background: rgb(72,155,51);
  background: linear-gradient(90deg, rgba(72,155,51,1) 22%, rgba(253,29,29,1) 50%, #EB6796 100%);
  animation:  object1 6s linear infinite;
  z-index: -1;
}
.hero::after{
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 35%;
  top: 2%;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  /* background: radial-gradient(circle, 0%, 100%); */
  animation:  object2 6s linear infinite;
  z-index: -1;
}
@keyframes object1{
  50%{
    left: -25%;
    top: 41%;
  }
}
@keyframes object2{
  50%{
    left: 36%;
    top: 1%;
  }
}
.hero-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.hero-title{
  position: relative;
  color: var(--color-heading);
  font-weight: 300;
  font-size: 30px;
  width: fit-content;
}
.hero-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  background: var(--color-secondary);
  width: 40px;
  height: 2px;
}
.hero-title-name{
  font-size: 20px;
  font-weight: 900;
  /* color: var(--color-secondary); */
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.hero-right{
  width: 50%;
  overflow: hidden;
  position: relative;
}
.hero-right::after{
  content: "";
  position: absolute;
  width: 261px;
  height: 70px;
  background-color: rgba(225, 84, 133, 0.48);
  top: 30%;
  left: 60%;
  transform: translateX(-48%) rotate(22deg);
  transition: 0.2s linear;
  animation: animateGlass 4s linear infinite;

}
@keyframes animateGlass{
  50%{
    width: 270px;
    top: 31%;
    left: 61%;
    background-color: rgba(225, 84, 133, 0.724);
  }
}
.hero-avt{
  /* position: absolute; */
  width: 100%;
  height: 120%;
  object-fit: cover;
  top: -70px;
  right: 50px;
  /* transform: rotateX(180deg); */
  animation: animateUser 4s linear infinite;
  border-bottom-left-radius: 32%;
  border-bottom-right-radius: 20%;
}

@keyframes animateUser{
  50%{
    right: 40px;
    top: -60px;
  }
}
.hero-name{
  color: var(--color-heading);
  font-size: 80px;
  font-weight: 900;
}

.multitext{
  color: var(--color-secondary);
  text-transform: capitalize;
}
.hero-desc{
  font-size: 16px;
  font-weight: 300;
  line-height: 25px; 
  color: var(--color-heading);
  padding-top: 20px;
  padding-bottom: 30px;
}
.button__icon{
  background:var(--color-secondary);
}
.hero-buttom {
  border: none;
  width: 140px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: var(--color-heading);
  position: relative;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.hero-buttom span {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  /* font-weight: bold; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero-buttom::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: var(--color-secondary);
  transition: 0.2s ease;
 }
 
.hero-buttom::before {
  position: absolute;
  content: "";
 /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
 /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: var(--color-secondary);
 }
 
.hero-buttom:hover::after {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }

.hero-buttom:hover::before {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 .button {
  position: relative;
  width: 180px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #303c42;
  background-color: #3d535f;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 400;
}

.button .button__icon {
  position: absolute;
  transform: translateX(140px);
  height: 100%;
  width: 39px;
  background-color: #303c42;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #303c42;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

.counter{
  background-color:black;
  color:yellow;
  font-weight:bold;
}
/* ========= SCROOL UP ========= */
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--color-secondary);
  opacity: .8;
  /* padding: 10px; */
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  z-index: 999;
  transition: 0.2s linear;
  text-decoration: none;
}
.scrollup:hover{
  background-color: #e15486;
} 
.scrollup__icon{
  font-size: 18px;
  color: floralwhite;
}
/* Show scroll */
.show-scroll{
  bottom: 3rem;
}
/* scroll bar */
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(300, 1%, 27%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(228, 8%,35%);
  border-radius: .5rem;
  transition: 0.2s linear;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(228, 8%,45%);
}
.bg-gray{
  /* background-color: var(--color-bg-gray); */
  padding-top: 100px;
}
.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 70px;
}
.about__left{
  width: 50%;
  position: relative;
}
.about__right{
  width: 50%;
}
.about__blud{
  width: 950px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.about__img{
  width: 410px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transform: translate(-50%,-50%);
  border-bottom-left-radius: 162px;
  border-bottom-right-radius: 162px;
}
.about__blud path{
  stroke: var(--color-secondary);
}
.about__title{
  font-size: 18px;
  font-weight: bold;
  color: var(--color-heading);
}
.about__title span{
  color: var(--color-secondary);
}
.about__heading{
  color: var(--color-heading);
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 700;
}
.about__desc{
  color: var(--color-heading);
  font-size: 18px;
  line-height: 25px;
  text-wrap: balance;
  -webkit-text-wrap: balance;
}
.about__button{
  margin-top: 40px;
}
.about__button a{
  border-radius: 4px;
  background-color: var(--color-secondary);
  color: whitesmoke;
  text-transform: uppercase;
  /* font-size: 20px; */
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  transition: 0.2s linear;
}
.about__button a:hover{
  background-color: #e15486;
}
@media (max-width: 1200px) {
  .wrapper{
    padding: 30px;
  }
}
/* 320 576 768 1023*/
@media (max-width: 1023px){
  .nav__toggle,
  .nav__close{
    display: block;
  }
  .header-nav{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    z-index: var(--z-fixed);
  }
  .header-middle{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(308, 89%, 68%, 0.3);
    width: 35%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    /* for safari */
    transition: right .4s;
  }
}

@media (max-width: 820px) {
  .hero{
    display: flex;
    flex-direction: column;
  }
  .hero-left{
    width: 100%;
  }
}
@media (max-width: 420px) {

  .hero-right::after {
    width: 210px;
    height: 50px;
  }
}