@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=vietnamese');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
:root{
  --color-primary: #007536;
  --color-secondary:#EB6796;
  --color-heading:#3d535f;
}
body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left-logo{
  font-size: 30px;
  font-weight: 800;
  color: var(--color-heading);
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 0;
}
.header-left-logo span{
  position: relative;
  content: "";
}
.header-left-logo span::after{
  background-color: var(--color-secondary);
  /* font-size: 70px; */
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom: 0;
  right: -5px;
  transition: 0.2s linear;
}
.header-left-logo span:hover::after{
  scale: 2;
  background: var(--color-primary);
  background: radial-gradient(180deg,var(--color-primary) 0%, rgba(252,70,107,1) 100%);
}
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-nav--item{
  text-decoration: none;
  color: var(--color-heading);
  font-weight: 400;
  font-size: 18px;
  transition: 0.2s linear;
}
.header-nav--item:hover{
  color: var(--color-secondary);
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social a{
  color: var(--color-heading);
  font-size: 20px;
  transition: 0.2s linear;
}
.social a:hover{
  scale: 1.2;
  rotate: 30deg;
  color: var(--color-secondary);
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
}
.hero::before{
  content: "";
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  left: -30%;
  top: 40%;
  background: linear-gradient(45deg,#007536,#146c54);
  animation:  object1 6s linear infinite;
  z-index: -1;
}
.hero::after{
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 35%;
  top: 2%;
  background: linear-gradient(45deg,#007536,#146c54);
  animation:  object2 6s linear infinite;
  z-index: -1;
}
@keyframes object1{
  50%{
    left: -25%;
    top: 41%;
  }
}
@keyframes object2{
  50%{
    left: 36%;
    top: 1%;
  }
}
.hero-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title{
  position: relative;
  color: var(--color-heading);
  font-weight: 300;
  font-size: 30px;
  width: fit-content;
}
.hero-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  background: var(--color-secondary);
  width: 40px;
  height: 2px;
}
.hero-title-name{
  font-size: 20px;
  font-weight: 900;
  color: var(--color-secondary);
}
.hero-right{
  width: 50%;
  overflow: hidden;
  position: relative;
}
.hero-avt{
  width: 80%;
  height: 80%;
  object-fit: cover;

}
.hero-right img{
  position: relative;
  height: 100%;
  width: calc(130% - 80px);
  top: -70px;
  right: 50px;
  /* transform: rotateX(180deg); */
  animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
  50%{
    right: 20px;
    top: -40px;
  }
}
.hero-name{
  color: var(--color-heading);
  font-size: 80px;
  font-weight: 900;
}
.multitext{
  color: var(--color-secondary);
  text-transform: capitalize;
}
.hero-desc{
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: var(--color-heading);
}
.button__icon{
  background:var(--color-secondary);
}
.hero-buttom {
  border: none;
  width: 140px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: var(--color-heading);
  position: relative;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.hero-buttom span {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  /* font-weight: bold; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero-buttom::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: var(--color-secondary);
  transition: 0.2s ease;
 }
 
.hero-buttom::before {
  position: absolute;
  content: "";
 /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
 /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: var(--color-secondary);
 }
 
.hero-buttom:hover::after {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }

.hero-buttom:hover::before {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 .button {
  position: relative;
  width: 180px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #303c42;
  background-color: #3d535f;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 400;
}

.button .button__icon {
  position: absolute;
  transform: translateX(140px);
  height: 100%;
  width: 39px;
  background-color: #303c42;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #303c42;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}
@media (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }
}